body{
  margin: 0;
  padding: 0;
  background: pink;
}

/* spans */
.pointer{cursor: pointer;}

.play{
  width: 100%;
  padding-top: 100px;
  height: 100vh;
  background: #000;
  color: #fff;
  text-align: center;
}

#modal_chose{
  z-index: 2;
  min-width: 300px;
  min-height: 200px;
  margin-top: 45vh;
  text-align: center;
}

.container{
  display: flex; 
  justify-content: center;
}

#player_board {
  max-width: 800px;
  min-width: 720px;
}

.person{
  width: 100px;
  height: 100px;
  margin: 5px;
  float: left;
  background: none;
}

.back, .front {
  height: 100px; 
}

.back {
  position: relative;
  top: -100px;
  background: rgba(24, 33, 117, .7);
}

.person-opacity{
  opacity: .6;
}

.selected_card, .pc_selected_card {
  background: gray;
  width: 100px;
  height: 100px;
}

.carousel{
  height: 60px;
  border: 1px solid greenyellow;
  text-align: center;
}

/** PC BOARD **/
#pc_board{
  margin: 20px 0;
}

#pc_board .person{
  max-width: 35px;
  max-height: 35px;
  margin: 0;
}