body{
  margin: 0;
  padding: 0;
  font-size: 18px;
  background: pink;
}

/* spans */
.pointer{cursor: pointer;}

.play{
  width: 100%;
  padding-top: 100px;
  height: 100vh;
  background: #000;
  color: #fff;
  text-align: center;
}

#modal_chose, #pc_questions{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 10;
  background: rgba(0,0,0,.6);
  color: #fff;
  text-align: center;
  padding: 40vh 0;
}

.container{
  display: flex; 
  justify-content: center;
  margin-top: 100px;
}

#player_board {
  max-width: 800px;
  min-width: 720px;
}

.back {
  top: -100px;
}

.person{
  width: 100px;
  height: 100px;
  margin: 5px;
  float: left;
  background: none;
}

.back, .front {
  height: 100px; 
}

.back {
  position: relative;
  background: rgba(24, 33, 117, .7);
}

.person-opacity{
  opacity: .6;
}

.selected_card, .pc_selected_card {
  background: gray;
  width: 100px;
  height: 100px;
}

/* Carousel */
.carousel{
  height: 60px;
  background: gray;
  border: 1px solid greenyellow;
  border-radius: 20px;
  text-align: center;
  width: 100%;
}
.carousel a{
  background: red;
}
.carousel-control-prev {
  border-radius: 20px 0 0 20px;
}
.carousel-control-next {
  border-radius: 0 20px 20px 0;
}
.question {
  margin-top: 13px;
}

/** PC **/
#pc_board{
  margin: 20px 0;
  min-width: 210px;
  max-width: 210px;
}

#pc_board .person{
  max-width: 35px;
  max-height: 35px;
  margin: 0;
}

#pc_board .back {
  width: 35px;
  height: 35px;
}

#pc_questions{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 10;
  background: rgba(0,0,0,.4);
  color: #fff;
  text-align: center;
  padding: 45% 0;
}